:root {
  --jutsuper-color-light-green: #bcf283;
  --jutsuper-color-light-green-half-transparent: #BDF28380;
  --jutsuper-color-light-green-25-transparent: #bdf28340;
  --jutsuper-color-dark-green: #9BC76C;
  --jutsuper-color-dark-green-half-transparent: #9BC76C80;
  --jutsuper-color-darker-green: #8CB660;
  --jutsuper-color-darker-green-half-transparent: #8CB66080;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("./assets/font/Roboto-Bold.ttf") format("truetype");
}

.jutsuper-no-pointer-events {
  pointer-events: none;
}

.jutsuper-no-select {
  user-select: none;
}

@keyframes jutsuper-anim-infinite-gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@keyframes jutsuper-anim-main-logo {
  0% {

  }
}

@keyframes jutsuper-anim-switching-showcase {

}

.jutsuper-disable-margins-paddings {
  margin: 0;
  padding: 0;
}

.jutsuper-overflows {
  overflow-x: hidden;
  overflow-y: scroll;
}

.jutsuper-font-roboto {
  font-family: Roboto;
  color: black;
}

.jutsuper-heading {
  font-size: 2em;
  font-family: Roboto;
  font-weight: bold;
  color: var(--jutsuper-color-darker-green);
}

.jutsuper-animated-green-gradient-box {
  animation-name: jutsuper-anim-infinite-gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(
    45deg,
    var(--jutsuper-color-dark-green) 0%,
    var(--jutsuper-color-light-green) 33%,
    var(--jutsuper-color-dark-green) 66%,
    var(--jutsuper-color-light-green) 100%
  );
  background-size: 400% 400%;
}

.jutsuper-fitting-height {
  height: fit-content;
}

.jutsuper-full-width {
  width: 900px;
}

.jutsuper-header-height {
  height: 50px;
}

.jutsuper-block {
  box-sizing: border-box;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--jutsuper-color-dark-green);
  padding: 20px;
  /*box-shadow: inset 0px 00px 100px var(--jutsuper-color-light-green-25-transparent);*/
}

.jutsuper-margin-bottom {
  margin-bottom: 20px;
}

.jutsuper-showcase-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.jutsuper-flex {
  display: flex;
}

.jutsuper-flex-horizontal-center {
  justify-content: center;
}

.jutsuper-flex-vertical-center {
  align-items: center;
}

.jutsuper-flex-direction-column {
  flex-direction: column;
}

.jutsuper-bottom-rounded {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.jutsuper-main-logo {
  animation-name: jutsuper-anim-main-logo;
  animation-duration: 1s;
  filter: drop-shadow(0px 0px 80px white);
  height: 100%;
  width: auto;
}

.jutsuper-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.jutsuper-switching-showcase {
  width: 100%;
  animation-name: jutsuper-anim-switching-showcase;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 80px rgb(255, 255, 255, .2));
  content: url("./assets/showcase/automatically-skip.svg");
}

.jutsuper-showcase-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  height: 100%;
}

.jutsuper-showcase-visual-container {
  display: flex;
  flex-direction: column;
  width: min-content;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.jutsuper-showcase-feature-name {
  width: max-content;
  font-size: 1em;
  color: white;
  width: 100%;
}

.jutsuper-showcase-extension-name {
  width: max-content;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  width: 100%;
}