:root {
  --jutsuper-color-light-green: #bcf283;
  --jutsuper-color-light-green-half-transparent: #BDF28380;
  --jutsuper-color-light-green-25-transparent: #bdf28340;
  --jutsuper-color-dark-green: #9BC76C;
  --jutsuper-color-dark-green-half-transparent: #9BC76C80;
  --jutsuper-color-darker-green: #8CB660;
  --jutsuper-color-darker-green-half-transparent: #8CB66080;
  --jutsuper-curve-fast-start-slow-end: cubic-bezier(0,.86,.24,.96);
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("./assets/font/Roboto-Bold.ttf") format("truetype");
}

.jutsuper-no-pointer-events {
  pointer-events: none;
}

.jutsuper-no-select {
  user-select: none;
}

@keyframes jutsuper-anim-infinite-gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@keyframes jutsuper-anim-features-scroll {
  0% {
    transform: translateY(0%);
  }

  23% { transform: translateY(0%); }
  33% {
    transform: translateY(-25%);
  }

  56% { transform: translateY(-25%); }
  66% {
    transform: translateY(-50%);
  }

  90% { transform: translateY(-50%); }
  100% {
    transform: translateY(-75%);
  }
}

@media screen and (max-width: 600px) {
  #jutsuper-header {
    flex-direction: column;
  }
}

.jutsuper-no-margins.jutsuper-no-margins {
  margin: 0;
}

.jutsuper-no-padding.jutsuper-no-padding {
  padding: 0;
}

.jutsuper-body-overflows {
  overflow-x: hidden;
  overflow-y: scroll;
}

.jutsuper-no-interactions {
  pointer-events: none;
  user-select: none;
}

.jutsuper-padding-10px.jutsuper-padding-10px {
  padding: 10px;
}

.jutsuper-padding-15px.jutsuper-padding-15px {
  padding: 15px;
}

.jutsuper-l-padding-30px.jutsuper-l-padding-30px {
  padding-left: 30px;
}

.jutsuper-r-padding-30px.jutsuper-r-padding-30px {
  padding-right: 30px;
}

.jutsuper-gap-10px.jutsuper-gap-10px {
  gap: 10px;
}

.jutsuper-no-tr-radius.jutsuper-no-tr-radius {
  border-top-right-radius: 0;
}

.jutsuper-no-tl-radius.jutsuper-no-tl-radius {
  border-top-left-radius: 0;
}

.jutsuper-no-br-radius.jutsuper-no-br-radius {
  border-bottom-right-radius: 0;
}

.jutsuper-no-bl-radius.jutsuper-no-bl-radius {
  border-bottom-left-radius: 0;
}

.jutsuper-hr {
  width: 2px;
  background-color: var(--jutsuper-color-dark-green);
  border: none;
}

.jutsuper-block {
  display: block;
}

.jutsuper-ruby {
  display: ruby;
}

.jutsuper-gap {
  gap: 3px;
}

.jutsuper-font-roboto {
  font-family: Roboto;
  color: black;
}

.jutsuper-font-bold {
  font-weight: bold;
}

.jutsuper-font-white.jutsuper-font-white {
  color: white;
}

.jutsuper-heading {
  font-size: 2em;
  font-family: Roboto;
  font-weight: bold;
  color: var(--jutsuper-color-darker-green);
}

.jutsuper-animated-green-gradient-box {
  animation-name: jutsuper-anim-infinite-gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(
    45deg,
    var(--jutsuper-color-dark-green) 0%,
    var(--jutsuper-color-light-green) 33%,
    var(--jutsuper-color-dark-green) 66%,
    var(--jutsuper-color-light-green) 100%
  );
  background-size: 400% 400%;
}

.jutsuper-fitting-height {
  height: fit-content;
}

.jutsuper-900px-width {
  width: 900px;
}

.jutsuper-100-width {
  width: 100%;
}

.jutsuper-66-width {
  width: 66%;
}

.jutsuper-max-content-width {
  width: max-content;
}

.jutsuper-header-height {
  height: 50px;
}

.jutsuper-tile-glow {
  position: relative;
}
.jutsuper-tile-glow::before {
  overflow: visible;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 10px var(--jutsuper-color-light-green-25-transparent);
}

.jutsuper-tile {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: inset var(--jutsuper-color-light-green-half-transparent) 0px 0px 0px 1px;
}

.jutsuper-tile-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all ease 0.2s;
}

.jutsuper-tile-button-section:hover {
  box-shadow: inset 0 -6px 0px -2px var(--jutsuper-color-light-green);
}

.jutsuper-flex {
  display: flex;
}

.jutsuper-flex-horizontal-center {
  justify-content: center;
}

.jutsuper-flex-vertical-center {
  align-items: center;
}

.jutsuper-flex-direction-column {
  flex-direction: column;
}

.jutsuper-flex-direction-row {
  flex-direction: row;
}

.jutsuper-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.jutsuper-main-logo {
  animation-name: jutsuper-anim-main-logo;
  animation-duration: 1s;
  filter: drop-shadow(0px 0px 80px white);
  height: 100%;
  width: auto;
}

.jutsuper-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.jutsuper-showcase-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  height: 100%;
}

.jutsuper-showcase-feature-name {
  width: max-content;
  font-size: 1em;
  color: white;
  width: 100%;
}

.jutsuper-showcase-extension-name {
  width: max-content;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  width: 100%;
}

.jutsuper-features-wrap {
  overflow: hidden;
  height: 2.6em;
}

.jutsuper-features-scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: jutsuper-anim-features-scroll;
  /*animation-timing-function: var(--jutsuper-curve-fast-start-slow-end);*/
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
