:root {
  --jsp-color-light-gray: rgb(200, 200, 200);
  --jsp-color-light-green: #bcf283;
  --jsp-color-light-green-half-transparent: #BDF28380;
  --jsp-color-light-green-25-transparent: #bdf28340;
  --jsp-color-dark-green: #9BC76C;
  --jsp-color-dark-green-half-transparent: #9BC76C80;
  --jsp-color-darker-green: #8CB660;
  --jsp-color-darker-green-half-transparent: #8CB66080;
  --jsp-dur-slow: .50s;
  --jsp-dur-mid-slower: .35s;
  --jsp-dur-mid: .25s;
  --jsp-curve-fast-start-slow-end: cubic-bezier(0,.86,.24,.96);
  --jsp-curve-smoother-fast-start-slow-end: cubic-bezier(.11,.88,.42,.97);
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("./assets/font/Roboto-Bold.ttf") format("truetype");
}

.jsp-no-pointer-events {
  pointer-events: none;
}

.jsp-no-select {
  user-select: none;
}

@keyframes jsp-anim-infinite-gradient {
  0% { background-position: 100% 0% }
  100% { background-position: 15% 100% }
}

@keyframes jsp-anim-features-scroll {
  0%, 23% { transform: translateY(0%) }
  33%, 56% { transform: translateY(-25%) }
  66%, 90% { transform: translateY(-50%) }
  100% { transform: translateY(-75%) }
}

@keyframes jsp-anim-showcase-white-screen {
  0%, 23% {
    width: 100%;
    height: 100%;
  }
  33%, 56% {
    width: 80%;
    height: 70%;
  }
  66%, 100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes jsp-anim-showcase-seekbar {
  0% { width: 6% }
  23% { width: 20% }
  90% { width: 94% }
  100% { width: 6% }
}

@keyframes jsp-anim-stripes {
  100% {
    background-position: 20% 20%;
  }
}

@keyframes jsp-anim-showcase-arrow-blink {
  0% { opacity: 100% }
  100% { opacity: 0% }
}

@keyframes jsp-anim-showcase-left-skip-arrows-appearance {
  0%, 10% { opacity: 100% }
  11%, 100% { opacity: 0% }
}

@keyframes jsp-anim-showcase-right-skip-arrows-appearance {
  0%, 85% { opacity: 0% }
  86%, 100% { opacity: 100% }
}

@keyframes jsp-anim-showcase-skipping-notif-appear {
  0% {
    opacity: 0;
    height: 0px;
  }
  8%, 23% {
    opacity: 1;
    height: 32px;
  }
  30%, 100% {
    opacity: 0;
    height: 0px;
  }
}

@keyframes jsp-anim-showcase-skipping-notif-slide {
  0% { width: 100%; }
  23%, 100% { width: 0%; }
}

@keyframes jsp-anim-showcase-preferences-appear {
  0%, 56% {
    opacity: 0;
    height: 0%;
  }
  66%, 90% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}

@keyframes jsp-anim-showcase-preferences-openings-switch-thumb {
  0%, 66% {
    transform: translateX(0);
    background-color: transparent;
  }
  72%, 100% {
    transform: translateX(24px);
    background-color: white;
  }
}

@keyframes jsp-anim-showcase-preferences-delay-slider {
  0%, 72% { width: 20%; }
  86%, 100% { width: 70%; }
}

@media screen and (width <= 600px) {
  #jsp-showcase-download-tiles {
    flex-direction: column;
  }

  #jsp-showcase {
    height: 200px;
  }
}

.jsp-no-margins.jsp-no-margins {
  margin: 0;
}

.jsp-no-padding.jsp-no-padding {
  padding: 0;
}

.jsp-body-hide-overflows {
  overflow-x: hidden;
  overflow-y: hidden;
}

.jsp-body-overflows {
  overflow-x: auto;
  overflow-y: scroll;
}

.jsp-hyperlink {
  color: var(--jsp-color-dark-green)
}

.jsp-paragraph {
  margin: 0;
}

.jsp-display-none {
  display: none;
}

.jsp-opacity-0 {
  opacity: 0%;
}

.jsp-no-interactions {
  pointer-events: none;
  user-select: none;
}

.jsp-padding-top-5px.jsp-padding-top-5px.jsp-padding-top-5px {
  padding-top: 5px;
}

.jsp-padding-bottom-5px.jsp-padding-bottom-5px.jsp-padding-bottom-5px {
  padding-bottom: 5px;
}

.jsp-padding-bottom-10px.jsp-padding-bottom-10px.jsp-padding-bottom-10px {
  padding-bottom: 10px;
}

.jsp-padding-bottom-20px.jsp-padding-bottom-20px.jsp-padding-bottom-20px {
  padding-bottom: 20px;
}

.jsp-padding-5px.jsp-padding-5px {
  padding: 5px;
}

.jsp-padding-10px.jsp-padding-10px {
  padding: 10px;
}

.jsp-no-top-padding.jsp-no-top-padding.jsp-no-top-padding {
  padding-top: 0;
}

.jsp-no-top-margin.jsp-no-top-margin.jsp-no-top-margin {
  margin-top: 0;
}

.jsp-no-bottom-padding.jsp-no-bottom-padding.jsp-no-bottom-padding {
  padding-bottom: 0;
}

.jsp-no-left-padding.jsp-no-left-padding.jsp-no-left-padding {
  padding-left: 0;
}

.jsp-no-right-padding.jsp-no-right-padding.jsp-no-right-padding {
  padding-right: 0;
}

.jsp-padding-12px.jsp-padding-12px {
  padding: 12px;
}

.jsp-padding-15px.jsp-padding-15px {
  padding: 15px;
}

.jsp-l-padding-15px.jsp-l-padding-15px {
  padding-left: 15px;
}

.jsp-r-padding-15px.jsp-r-padding-15px {
  padding-right: 15px;
}

.jsp-padding-20px.jsp-padding-20px {
  padding: 20px;
}

.jsp-l-padding-20px.jsp-l-padding-20px {
  padding-left: 20px;
}

.jsp-r-padding-20px.jsp-r-padding-20px {
  padding-right: 20px;
}

.jsp-l-padding-30px.jsp-l-padding-30px {
  padding-left: 30px;
}

.jsp-r-padding-30px.jsp-r-padding-30px {
  padding-right: 30px;
}

.jsp-gap-8px.jsp-gap-8px {
  gap: 8px;
}

.jsp-gap-10px.jsp-gap-10px {
  gap: 10px;
}

.jsp-no-tr-radius.jsp-no-tr-radius {
  border-top-right-radius: 0;
}

.jsp-no-tl-radius.jsp-no-tl-radius {
  border-top-left-radius: 0;
}

.jsp-no-br-radius.jsp-no-br-radius {
  border-bottom-right-radius: 0;
}

.jsp-no-bl-radius.jsp-no-bl-radius {
  border-bottom-left-radius: 0;
}

.jsp-hr {
  width: 2px;
  background-color: var(--jsp-color-dark-green);
  border: none;
}

.jsp-block {
  display: block;
}

.jsp-ruby {
  display: ruby;
}

.jsp-gap-3px {
  gap: 3px;
}

.jsp-font-roboto {
  font-family: Roboto;
  color: black;
}

.jsp-font-bold {
  font-weight: bold;
}

.jsp-pos-abs {
  position: absolute;
}

.jsp-pos-rel {
  position: relative;
}

.jsp-font-white.jsp-font-white {
  color: white;
}

.jsp-light-green-bg {
  background-color: var(--jsp-color-light-green);
}

.jsp-top-0 {
  top: 0;
}

.jsp-margin-top-16px {
  margin-top: 16px;
}

.jsp-margin-bottom-16px {
  margin-bottom: 16px;
}

.jsp-overflow-hidden {
  overflow: hidden;
}

.jsp-border-box-sizing {
  box-sizing: border-box;
}

.jsp-loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  z-index: 50;
  transition: all var(--jsp-dur-mid) linear;
}

.jsp-heading {
  font-size: 1.5em;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: var(--jsp-color-darker-green);
}

.jsp-black-heading {
  font-size: 1.5em;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;
}

.jsp-animated-green-gradient-box {
  animation-name: jsp-anim-infinite-gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(
    45deg,
    var(--jsp-color-dark-green) 0%,
    var(--jsp-color-light-green) 33%,
    var(--jsp-color-dark-green) 66%,
    var(--jsp-color-light-green) 100%
  );
  background-size: 400% 400%;
}

.jsp-fitting-height {
  height: fit-content;
}

.jsp-900px-width {
  width: 900px;
}

.jsp-100-width {
  width: 100%;
}

.jsp-100-height {
  height: 100%;
}

.jsp-66-width {
  width: 66%;
}

.jsp-max-content-width {
  width: max-content;
}

.jsp-max-width-100 {
  max-width: 100%;
}

.jsp-overflow-auto {
  overflow: auto;
}

.jsp-header-height {
  height: 48px;
}

.jsp-header-links {
  display: flex;
  margin-left: auto;
  padding: 12px;
}

.jsp-height-200px {
  height: 200px;
}

.jsp-border-radius-20px {
  border-radius: 20px;
}

.jsp-tile-glow {
  position: relative;
}
.jsp-tile-glow::before {
  overflow: visible;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 10px var(--jsp-color-light-green-25-transparent);
}

.jsp-tile {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: var(--jsp-color-light-green-half-transparent) 0px 0px 0px 1px;
}

.jsp-plain-tile {
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.jsp-tile-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 20px;
  transition: all ease var(--jsp-dur-mid);
  box-shadow: var(--jsp-color-light-green) 0px 0px 0px 1px;
}

.jsp-tile-button-section:hover {
  background-color: var(--jsp-color-light-green);
}

.jsp-flex {
  display: flex;
}

.jsp-align-items-start {
  align-items: start;
}

.jsp-flex-horizontal-center {
  justify-content: center;
}

.jsp-flex-vertical-center {
  align-items: center;
}

.jsp-flex-vertical-bottom {
  align-items: end;
}

.jsp-flex-direction-column {
  flex-direction: column;
}

.jsp-flex-direction-row {
  flex-direction: row;
}

.jsp-margin-right-10px {
  margin-right: 10px;
}

.jsp-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.jsp-description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.jsp-showcase-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}

.jsp-showcase-extension-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
}

.jsp-showcase-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  font-size: 1em;
  color: white;
}

.jsp-features-wrap {
  overflow: hidden;
  height: 1.8em;
  border-radius: 50px;
  background-color: white;
}

.jsp-features-scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: jsp-anim-features-scroll;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-feature-text {
  width: max-content;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  color: var(--jsp-color-dark-green);
  text-shadow: red 0px 0px 0px 2px;
  border-radius: 50px;
}

.jsp-showcase-white-screen {
  animation-name: jsp-anim-showcase-white-screen;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-seekbar {
  height: 10px;
  width: 100%;
  border-radius: 200px;
}

.jsp-showcase-seekbar-container {
  width: 100%;
  position: relative
}

.jsp-showcase-seekbar-anim {
  animation-name: jsp-anim-showcase-seekbar;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-outline-green-1px {
  box-shadow: inset var(--jsp-color-light-green) 0px 0px 0px 1px;
}

.jsp-outline-white-1px {
  box-shadow: inset white 0px 0px 0px 1px;
}

.jsp-white-bg {
  background-color: white;
}

.jsp-stripes {
  background: repeating-linear-gradient(
    -60deg,
    var(--jsp-color-light-green),
    var(--jsp-color-light-green) 1px,
    transparent 1px,
    transparent 20px
  );
  background-size: 200% 200%;
  animation-name: jsp-anim-stripes;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.jsp-showcase-skipping-notif-container {
  width: fit-content;
  border-radius: 12px;
  box-shadow: inset white 0px 0px 0px 1px;
  overflow: hidden;
}

.jsp-showcase-skipping-notif-appear-anim {
  animation-name: jsp-anim-showcase-skipping-notif-appear;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-skipping-notif-content {
  padding: 8px;
  padding-bottom: 4px;
}

.jsp-showcase-skipping-notif-line {
  width: 100%;
  height: 6px;
  background-color: white;
}

.jsp-showcase-skipping-notif-line-anim {
  animation-name: jsp-anim-showcase-skipping-notif-slide;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.jsp-showcase-preferences-container {
  display: flex;
  width: fit-content;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: inset white 0px 0px 0px 1px;
}

.jsp-showcase-preferences {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.jsp-showcase-preferences-anim {
  animation-name: jsp-anim-showcase-preferences-appear;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-preferences-switch-white {
  position: relative;
  width: 44px;
  height: 20px;
  border-radius: 50px;
  box-shadow: white 0px 0px 0px 1px;
}

.jsp-showcase-preferences-switch-white-thumb {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  border-radius: 50px;
  box-shadow: white 0px 0px 0px 1px;
}

.jsp-showcase-preferences-switch-green {
  position: relative;
  width: 44px;
  height: 20px;
  border-radius: 50px;
  box-shadow: var(--jsp-color-light-green) 0px 0px 0px 1px;
}

.jsp-showcase-preferences-switch-green-thumb {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  border-radius: 50px;
  box-shadow: var(--jsp-color-light-green) 0px 0px 0px 1px;
}

.jsp-showcase-openings-switch-thumb-anim {
  animation-name: jsp-anim-showcase-preferences-openings-switch-thumb;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-string-skeleton {
  height: 12px;
  width: 70px;
  border-radius: 50px;
  box-shadow: white 0px 0px 0px 1px;
  background: repeating-linear-gradient(
    -60deg,
    white,
    white 1px,
    transparent 1px,
    transparent 6px
  );
}

.jsp-showcase-string-skeleton-light-green {
  height: 12px;
  width: 70px;
  border-radius: 50px;
  box-shadow: var(--jsp-color-light-green) 0px 0px 0px 1px;
  background: repeating-linear-gradient(
    -60deg,
    var(--jsp-color-light-green),
    var(--jsp-color-light-green) 1px,
    transparent 1px,
    transparent 6px
  );
}

.jsp-showcase-preferences-endings-fill {
  height: 100%;
  width: 100%;
  background-color: white;
}

.jsp-showcase-preferences-slider {
  width: 100%;
  min-height: 18px;
  border-radius: 50px;
}

.jsp-showcase-preferences-slider-fill-anim {
  animation-name: jsp-anim-showcase-preferences-delay-slider;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-skipping-arrows-left {
  display: flex;
  position: absolute;
  top: 0;
  left: 16px;
  height: 100%;
  animation-name: jsp-anim-showcase-left-skip-arrows-appearance;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-skipping-arrows-right {
  display: flex;
  position: absolute;
  top: 0;
  right: 16px;
  height: 100%;
  animation-name: jsp-anim-showcase-right-skip-arrows-appearance;
  animation-duration: 8s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
}

.jsp-showcase-skipping-arrow-1 {
  animation-name: jsp-anim-showcase-arrow-blink;
  animation-duration: 1s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

.jsp-showcase-skipping-arrow-2 {
  animation-name: jsp-anim-showcase-arrow-blink;
  animation-duration: 1s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
  animation-delay: 50ms;
}

.jsp-showcase-skipping-arrow-3 {
  animation-name: jsp-anim-showcase-arrow-blink;
  animation-duration: 1s;
  animation-timing-function: var(--jsp-curve-smoother-fast-start-slow-end);
  animation-iteration-count: infinite;
  animation-delay: 100ms;
}

.jsp-faq-dropdown {
  width: 14px;
  transition: all var(--jsp-dur-mid-slower) var(--jsp-curve-fast-start-slow-end)
}

.jsp-faq-bar-switch:checked + label .jsp-faq-dropdown {
  transform: rotate(180deg);
}

.jsp-faq-bar {
  height: 50px;
}

.jsp-faq-bar-switch + label {
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: var(--jsp-dur-mid-slower) var(--jsp-curve-fast-start-slow-end);
}

.jsp-faq-bar-switch:checked + label {
  box-shadow: inset 0 -6px 0px -5px var(--jsp-color-light-green);
}

.jsp-faq-bar + div {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--jsp-dur-mid-slower) var(--jsp-curve-fast-start-slow-end);
}

.jsp-faq-bar + div div {
  overflow: hidden;
}

.jsp-faq-bar:has(.jsp-faq-bar-switch:checked) + div {
  grid-template-rows: 1fr;
}